body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    color:azure;
    font-size:1.5rem;
}
.menu{
    display:none;
    flex-direction:column;
    background-color: #444;
    position:absolute;
    top:60px;
    width:200px;
    right:20px;
}
.menu a{ 
    color : #fff;
    padding:1rem;
    text-decoration: none;
    display: block;
}
.hamburger {
    font-size: 2rem;
    cursor: pointer;
    color:#fff;
}
@media (min-width: 768px){
    .menu {
        display:flex;
        flex-direction: row;
        position: static;
        background-color: none;
        width: auto;
    }

.hamburger {
    display: none;
}
}